openai
langchain
langchain_community
langchain_openai
langchainhub
python-dotenv
streamlit
langserve
fastapi
uvicorn
sse_starlette
beautifulsoup4
pypdf
chromadb
faiss-cpu
arxiv
wikipedia
langchain_groq
groq